<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Customer Details</H1>
    <p>Customer Number: <%= customer.customerNumber %></p>
    <p>Customer Name: <%= customer.customerName %></p>
    <p>Contact First Name: <%= customer.contactFirstName %></p>
    <p>Contact Last Name: <%= customer.contactLastName %></p>
    <p>Phone: <%= customer.phone %></p>
</body>
</html>